html, body {
    		height: 100%;
    		margin: 0;
    	}
#bar {
    background-color:rgb(39, 73, 113) ;
    text-align: right;
    height: 30px;
    color: rgb(242, 246, 241);
    width: 100%;



}
.inline{
  display: inline-block;
  margin-right: 3px;
  margin-top: 3px;
}

#napis{
  position: absolute;
  text-align: center;
  margin-left: 45%;
  margin-top: 33%;
}

#crta{
  width:100%;
  text-align:center;
  border-bottom: 10px solid #000;
  line-height:0.1em;
  margin:10px 0 20px;
}
